<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Send Grid Mail Sender</title>
    <meta name="description" content="A Mail Sender using SendGrid">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Mail Composer
      </h1>
    </header>

    <main>
      <p class="bold"></p>
      
      <p>Enter email address and message to send.</p>
      
      <div class="split">
        <form action="/mail" method="GET">
          <input name="email" type="text" maxlength="100" placeholder="Enter recipient email address">
          <input name="subject" type="text" maxlength="100" placeholder="Enter subject">
          <textarea name="message" rows="10"></textarea>
          <br>
          <button type="submit" id="submit-mail">Send!</button>
        </form>
        <iframe id="preview" frameborder="0" width="100%">
        </iframe>
      </div>
      
      
    </main>

    <footer>
      Made with SendGrid!
    </footer>
  </body>
</html>
